/* Import fonts */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic);

thead {
    font-weight: bold;
}

table {
    width: 100%;
}


h1, h2, h3 {
    margin-top: 1em;
    margin-bottom: 1em;
}

pre code {
    font-size: 18px !important;
    font-family: 'Courier New', monospace;
}

body {
    color: #353b44;
    background: #f2f2f2;
    font-family: 'proxima-nova', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:16px !important;    
    font-weight: 300;
}

label{
    font-weight: 300;
}

.sidebar-menu .fa {
    width: 30px;
    text-align: center;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
    outline: 0;
}

.panel-body {
    text-align: justify;
    min-height: 100vh;
}

.panel-body a {
    line-height: 1.1;
    display: inline-block;
}
.panel-body a:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: #f4f4f4;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.panel-body a:hover:after, .panel-body a:focus:after {
    width: 100%;
}

input:focus, textarea:focus { outline: none; }
*:focus {outline: none;}
::selection {
    background: rgba(0, 156, 255, 0.25);
    color: #000000;
}
::-moz-selection {
    background: rgba(0, 156, 255, 0.25)
    color: #000000;
}

#container {
    width: 100%;
    height: 100%;
}

/*sidebar navigation*/

#sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    background: #ffffff;
    overflow-y: auto;
}


ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 60px;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li{
    background: #eeeeee;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    padding: 0 0 0 16px;
    line-height: 48px;
    height: 48px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #737B83;
    font-size: 14px;
}

ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
    color: #009CFF;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li{
    line-height: 20px !important;
    text-transform: capitalize;
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
    font-size: 16px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    color: #8b9199;
    text-decoration: none;
    display: block;
    padding: 18px 0 14px 10px;
    font-size: 16px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-right: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
    overflow:hidden;
}

ul.sidebar-menu li.active a, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #eeeeee;
    color: #009CFF;
    display: block;
    /*border-radius: 4px;
    -webkit-border-radius: 4px;*/
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;        
}
ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    border-bottom: 1px solid #009CFF;
}
/*ul.sidebar-menu li.active a,*/ ul.sidebar-menu .sub-menu li.active a{
    border-bottom: 1px solid #009CFF;   
}

ul.sidebar-menu li a i {
    font-size: 18px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #009CFF;
}

ul.sidebar-menu li.active a i {
    color: #009CFF;
}


#sidebar ul > li > a .menu-arrow { 
    float: right;    
    margin-right: 8px;   
}

#main-content {
    margin-left: 150px;
    line-height: 1.5;
    font-size: 18px;
}

.header {
    min-height: 60px;
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1002;
    text-align:center;
}


.black-bg {
    background: rgba(20,20,20,0.9);
    border-bottom: 1px solid #f1f2f7;
}

.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding: 0px 15px 15px 0px;
    width: 100%;
}

a.logo {
    font-size: 22px;
    font-weight: 300;
    color: #8E8E93;
    float: left;
    margin-left: 25px;
    margin-top: 12px;
    text-transform: uppercase;
    text-align: center;
}

a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}

h1.top-menu {
    margin-top: -5px;
}
.title-row {
    margin-top: 15px;
    margin-left: 16px;
    color: #EEE;
}
.notification-row {
    float: right;
    margin-top: 15px;
    margin-left: 65px;
}


.top-nav  {
    margin-top: 15px;
}

/*--sidebar toggle---*/

.toggle-nav {
    font-size: 25px;
    float: left;
    padding-right: 5px;
    margin: 12px 0 0 8px;
    cursor: pointer;
    color: gray;
}

.toggle-nav .icon-reorder {
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
}


@-webkit-keyframes square {
  0% { background-position: 0 0; }
  25% { background-position: 100% 0; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0 100%; }
  100% { background-position: 0 0; }
}

@-ms-keyframes square {
  0% { background-position: 0 0; }
  25% { background-position: 100% 0; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0 100%; }
  100% { background-position: 0 0; }
}

@keyframes square {
  0% { background-position: 0 0; }
  25% { background-position: 100% 0; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0 100%; }
  100% { background-position: 0 0; }
}

.navigation {
    position: absolute;
    padding-top: 0.3em;
    padding-left: 62%;
    top: 0;
    bottom: 0;
    margin: 0;
    max-width: 150px;
    min-width: 42px;
    width: 100%;
    min-height: 100vh;
    cursor:pointer;
    display: flex;
    align-content: /*center*/;
    flex-direction: column;
    font-size: 6em;
    color: rgba(0,0,0,0.1);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.navigation.next {
    right:0;
}


.navigation:hover {
    background-color: rgba(0,0,0,0.03);
}

a {
  color: #009CFF;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #009CFF;
  text-decoration: underline;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

div.notification-row>a {
  margin-top: -5px;
}

div.title-row>h1.top-menu {
  margin-top: -10px;
}

.navigation>i {
    font-size: 6vh;
    position: fixed;
    top: 50%;
}

.top-menu {
  display: none;
}
  
.col-md-10 {
  padding-right: 0;
  height: 100%;
}

summary::-webkit-details-marker {
 color: rgba(111, 187, 32, 0.7);
 font-size: 125%;
 margin-right: 2px;
}
summary:focus {
    outline-style: none;
}
article > details > summary {
    font-size: 28px;
    margin-top: 16px;
}
details > p {
    margin-left: 24px;
}
details details {
    margin-left: 36px;
}
details details summary {
    font-size: 16px;
}

#logo {
    height: 32px;
}

.panel {
    padding: 0 30px;
}

.next-wrapper {
    margin-left: -15px;
}

.video-player {
    position: relative;
    padding-bottom: 60%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.youtube-player {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mobile-nav {
    display: none;
}
