@media (max-width: 768px) {
    #sidebar > ul {
        display: none;
    }

    #sidebar {
        height: auto;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: 1001;
    }

    /* body container */
    #main-content {
        margin: 0 0 !important;
        position: none !important;
    }

    #sidebar > ul > li > a > span {
        line-height: 64px;
        margin-right: 0px !important;
        font-size: 18px;
    }

    #sidebar > ul > li > a {
        height: 64px;
        line-height: 64px;
        padding: 0 16px;
        text-align: left;
    }

    #sidebar > ul > li > a, #sidebar > ul > li > ul.sub > li {
        width: 100%;
    }
    #sidebar > ul > li > ul.sub > li > a {
        background: transparent !important ;
        height: 64px;
        line-height: 64px;
        font-size: 16px;
    }

    /* sidebar */
    #sidebar {
        margin: 0px !important;
    }

    .panel {
        padding: 0;
    }

    .btn {
        margin-bottom: 5px;
    }
    
    .panel-body {
        text-align: left;
    }

    .navigation {
        z-index: 2000;
    }
 
    .next-wrapper, .prev-wrapper {
        display: none;
    }

    .mobile-nav {
        display: inline-block;
        margin-bottom: 0;
        margin-top: 10px;
    }
}

/*@media (max-width: 993px) {
    .navigation {
        display: none;
    }
}

@media (max-width: 480px) {
    .navigation {
        display: none;
    }
}

@media (max-width:320px) {
    .navigation {
        display: none;
    }
}*/
