
                    </div>
                    </section>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
                    {{ if .IsPage }}
                    {{ with .GetParam "next" }}
                    <a class="navigation next" href="{{.}}">
                        <i class="fa fa-angle-right"> </i>
                    </a>
                    {{ end }}
                    {{ end }}
                </div>
              </div>
              <!-- page start-->
          </section>
      </section>
     <!--main content end-->
  </section>
  <!-- container section end -->
    <!-- javascripts -->
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>
