<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Support</title>

    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link rel="shortcut icon" href="/icons/logo_mark.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/icons/hello_logo_mark.png" />
  </head>

  <body>

    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
      <div class="vert-text">
        <a href="https://hello.is" target="_blank"><img src="/img/cotton_sense.jpg" class="logo"> </a>
        <div class="buttonbox">
        <a href="/system/sense_overview" class="btn btn-success btn-lg">Support <i class="icon-idea"></i></a>
        </div>
      </div>
    </div>

  <!-- Bootstrap core JavaScript -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/js/jquery-2.1.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
 

    {{ template "partials/analytics.html" . }}
  </body>

</html>
