<details>
  <summary>{{ if isset .Params 0 }} {{ index .Params 0 }} manual {{ end }}</summary>
  <details>
    <summary>iOS documents</summary>
    <ul>
      <li><a href="#">Hey Jude</a></li>
      <li><a href="#">Yesterday</a></li>
    </ul>
  </details>
</details>
<details>
	<summary>{{ if isset .Params 1 }} {{ index .Params 1 }} manual {{ end }}</summary>
    <details>
    <summary>Android documents</summary>
    <ul>
      <li><a href="#">Michelle</a></li>
      <li><a href="#">Let it be</a></li>
    </ul>
  	</details>
</details>